<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-regula" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RegulaPlugin</name>
    <js-module src="www/RegulaPlugin.js" name="RegulaPlugin">
        <clobbers target="RegulaPlugin" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="RegulaFacePlugin">
                <param name="android-package"
                    value="com.geekay.plugin.regula.RegulaFacePlugin" />
            </feature>
            <feature name="DocumentReaderPlugin">
                <param name="android-package"
                    value="com.geekay.plugin.regula.DocumentReaderPlugin" />
            </feature>
        </config-file>
        <resource-file src="src/android/res/values/regula_dimens.xml"
            target="res/values/regula_dimens.xml" />

        <framework src="src/android/build-deps.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/RegulaFacePlugin.java"
            target-dir="src/com/geekay/plugin/regula" />
        <source-file src="src/android/DocumentReaderPlugin.java"
            target-dir="src/com/geekay/plugin/regula" />
        <source-file src="src/android/DocumentReaderResultsConverter.java"
            target-dir="src/com/geekay/plugin/regula" />
    </platform>

</plugin>