<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-regula" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RegulaForensicsPlugin</name>
    <js-module src="www/RegulaFace.js" name="RegulaFace">
        <clobbers target="RegulaFace" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="RegulaForensicsPlugin">
                <param name="android-package"
                    value="com.geekay.plugin.regula.RegulaForensicsPlugin" />
            </feature>
        </config-file>

        <resource-file src="src/android/libs/faceapi-8.1.4577.aar"
            target="libs/faceapi-8.1.4577.aar" />
        <resource-file src="src/android/libs/basic-8.1.1522.aar" target="libs/basic-8.1.1522.aar" />
        <resource-file src="src/android/libs/common-9.3.3190.aar" target="libs/common-9.3.3190.aar" />
        <resource-file src="src/android/libs/document-9.3.12663.aar"
            target="libs/document-9.3.12663.aar" />
        <resource-file src="src/android/res/values/regula_dimens.xml"
            target="res/values/regula_dimens.xml" />

        <!-- Important: Use build-extras.gradle to link them -->
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/RegulaForensicsPlugin.java"
            target-dir="src/com/geekay/plugin/regula" />
    </platform>

    <!-- <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="RegulaForensicsPlugin">
                <param name="ios-package" value="RegulaForensicsPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/RegulaForensicsPlugin.m" />
    </platform> -->
</plugin>